name: build

on:
  push:
    tags:
    - '*' 
    branch:
    - master

jobs:
  deploy:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.x]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black isort pytest-cov
        pip install -r tests/requirements.txt
    - name: Lint with flake8
      run: |
        flake8 flask_docs tests examples
    - name: Format with black
      run: |
        black flask_docs tests examples --check
    - name: Import sorting with isort
      run: |
        isort flask_docs tests examples --profile black --check
    - name: Test with pytest
      run: |
        pytest --cov=flask_docs --cov-report=xml
    - name: Build package
      run: |
        pip install wheel
        python setup.py sdist bdist_wheel
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        skip_existing: true
    - name: "Upload coverage to Codecov"
      uses: codecov/codecov-action@v3
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
